{% extends 'base.html' %}

{% block title %}
Create Post
{% endblock  %}

{% block body %}
<div class="container mt-5">
    <h1>Create Post</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter the title"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Enter summary"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter text body"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send"><br>
    </form>
</div>

{% endblock  %}