{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock  %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title}}</h1>

    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><b>Date: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Delete</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Update</a>
    </div>


</div>

{% endblock  %}